body {
  display: flex;
  justify-content: center; 
  align-items: center; 
  min-height: 100%; 
  margin: 0;

}

.contact-form {
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  background: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h2 {
  text-align: center;
  color: #ffffff;
  margin-bottom: 20px;
}
h1 {
  text-align: center;
  color: #000000;
  margin-bottom: 20px;
}

.success {
  color: green;
  text-align: center;
  font-weight: bold;
}

.error {
  color: red;
  text-align: center;
  font-weight: bold;
}

form {
  display: flex;
  flex-direction: column;
}

input,
textarea,
select {
  width: 100%;
  padding: 9px;
  margin-bottom: 9px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

textarea {
  height: 100px;
  resize: none;
}

button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

button:hover {
  background-color: #0056b3;
}
